extends /layouts/main.pug

block meta
  +meta(title="Yuliana Naida: Conent / Social Media Manager", description="Portfolio", og-image="/images/yuliana.png")
  
block content
  .ids__wrapper.ids__full-width
    section 
    

      .ids__grid.XXL.ids__grid-inset-S

        .ids__grid-cell-video

            a(href="https://vimeo.com/yulianaida") 
              img(src="images/vimeo.png", alt="")            

            a(href="https://www.linkedin.com/in/yuliananaida/") 
              img(src="images/linkedin.png", alt="")                
        
