extends /layouts/main.pug

block meta
  +meta(title="Yuliana Naida", description="Creator!", og-image="/images/yuliana.png")
  
block content
  .ids__wrapper.ids__full-width
    section 
    
      .ids__stack.S
      .ids__grid.XXL.ids__grid-inset-S

        .ids__grid-cell-video
            <iframe src="images/resume_naida.pdf" width="100%" height="800px" frameborder="0"></iframe>