extends /layouts/main.pug

block meta
  +meta(title="Yuliana Naida: Content / Social Media Manager", description="Portfolio", og-image="/images/yuliana.png")
  
block content
  .ids__wrapper.ids__full-width
    section 
    
      .ids__stack.S
      .ids__grid.XXL.ids__grid-inset-S

        .ids__grid-cell-small
          figure.XXS
            img(src="images/yuliana.png", alt="")
        .ids__grid-cell
          h1.landing
            span Hello. 
              span I'm a Content / 
              br
              span Social Media Manager 
            
              
          h3 Scroll down to see my portfolio ↓
      .ids__stack.XL
      

     
      
          

  .ids__wrapper.ids__full-width          
    .ids__stack.S
    .ids__grid.XXL.ids__grid-inset-S
        


                  
          

 
          
        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              .ids__label 
                h5 feb’20 — feb’22
              h2 FSP Festival
              p Summer music festival.

              h6 
                ul.landing
                  li.mark SMM
                  br
                  li analysis
                  li researching
                  li trendwatching
                  li smm-strategy
                  li report writing
                  li content plan creation
                  li copywriting
                  li design briefing
                  li backstage shooting
        .ids__grid-cell

          a(href="https://www.instagram.com/ilovefsp/") 
            video(autoplay='autoplay', loop='loop', muted='muted')
                source(src="https://dl.dropboxusercontent.com/s/44zks0z9pesrgrh/main.mp4?dl=0") 
          .ids__grid-cell-video
            a(href="https://vimeo.com/692227877") 
              img(src="images/fsp_instagram.png", alt="")                


        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              h2 First Summer Sunrise
              p Series of short video celebrating the very first summer sunrise with FSP festival crew.
              h6
                ul.landing 
                  li.mark team video creation
                  br
                  li idea
                  li pre-production
                  li shooting
                  li editing
        .ids__grid-cell
          video(loop='loop', controls='controls')
                source(src="https://dl.dropboxusercontent.com/s/920v63m7j35xrmg/sunrise2020.mp4?dl=0") 


          video(loop='loop', controls='controls')
                source(src="https://dl.dropboxusercontent.com/s/r13gtcn1qt62um6/sunrise2021.mp4?dl=0") 
          video(loop='loop', controls='controls')
                  source(src="https://dl.dropboxusercontent.com/s/axw41ybk552m0mr/sunrise2022.mp4?dl=0") 


        .ids__grid-cell
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              .ids__label 
                h5 apr’20 — jan’22
              h2 Generation Z Belarus
              p Multimedia project about generation Z. Created in&nbsp;collaboration with FSP Festival &amp;&nbsp;Onliner, supported by&nbsp;Samsung Belarus.


              h6
                ul.landing
                  li.mark film production, smm
                  br 
                  li researching
                  li trendwatching
                  li smm-strategy
                  li content plan creation
                  li copywriting
                  li backstage shooting
                  li casting start
                  li interviewing
                  li treatment creation
                  li working on the set
                  li video editing
                  li design briefing                  
                  li sound design briefing
                  li color correction briefing
           

        
        .ids__grid-cell-video
          <div style="padding:56.25% 0 0 0;position:relative; margin-bottom: 1em;"><iframe src="https://player.vimeo.com/video/728776616?h=17cb2b8922" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          
        .ids__grid.XXL.ids__grid-inset-S
          .ids__grid-cell-small
            a(href="https://vimeo.com/692228167") 
              img(src="images/cover1.jpeg", alt="")
          .ids__grid-cell-small
            a(href="https://vimeo.com/692227877") 
              img(src="images/cover2.jpeg", alt="")
          .ids__grid-cell-small
            a(href="https://vimeo.com/692227511") 
              img(src="images/cover3.jpeg", alt="")
          .ids__grid-cell-small
            a(href="https://vimeo.com/692223702") 
              img(src="images/cover4.jpeg", alt="")
          .ids__grid-cell-small
            a(href="https://vimeo.com/692226919") 
              img(src="images/cover5.jpeg", alt="")
          .ids__grid-cell-small
            a(href="https://vimeo.com/692226919") 
              img(src="images/cover6.jpeg", alt="")
          a(href="https://vimeo.com/yulianaida") 
            h3 Check out all episodes on my Vimeo
            

        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              h2 VZN
              p Youtube talk show about Generation Z supported by Samsung Belarus.
              h6
                ul.landing 
                  li.mark SMM
                  br
                  li smm strategy
                  li copywriting

        .ids__grid-cell
          a(href="https://www.youtube.com/playlist?list=PLkWzXDZk59GVFmgR8mbDxnaOENFQ9KJbI") 
          
            video(autoplay='autoplay', loop='loop', muted='muted')
                  source(src="https://dl.dropboxusercontent.com/s/cdy81gijfh9uzsi/zastavka_web.mp4?dl=0") 
        


        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              .ids__label 
                h5 jan'20 — aug'22
              h2 life:)
              p Mobile operator.
              h6
                ul.landing 
                  li.mark SMM
                  br
                  li strategy
                  li analysis
                  li researching
                  li trendwatching
                  li backstage mobile shooting
                  li copywriting for social media posts
                  li copywriting for banners
                  li video concept creation
                  li attending commercial video tenders

        .ids__grid-cell
            img(src="images/life.png", alt="")
          
            video(loop='loop', controls='controls')
                  source(src="https://dl.dropboxusercontent.com/s/lmxzbje0zudz0mv/life.mp4?dl=0") 

        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              .ids__label 
                h5 jul’22 
              h2 st1rka
              p Party makers, creative association.
              h6
                ul.landing 
                  li.mark promo video
                  br
                  li idea generation
                  li film treatment creation
                  li working on the set
                  li video editing

            .ids__grid-cell-full
              <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/728774000?h=aeb0d03b29" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

        .ids__grid-cell
          .ids__grid.XXL.ids__grid-inset-XS
            .ids__grid-cell
              .ids__label 
                h5 march’20 — aug’21
              h2 sestra.
              p Music artist.
              h6
                ul.landing 
                  li.mark art direction 
                  br
                  li photo & video concept creating
                  li analog shooting
                  li film treatment creation 
          .ids__grid.XXL.ids__grid-inset-XS

            .ids__grid-cell-video
              a(href="https://www.youtube.com/watch?v=ciY5sdntVbY&ab_channel=sestra.") 
                img(src="images/sestracoveryoutube.jpeg", alt="")

            .ids__grid-cell-small
              video(loop='loop', controls='controls')
                source(src="https://dl.dropboxusercontent.com/s/tfd6zrg28mskpr3/sestra2.mp4?dl=0")


            .ids__grid-cell-small
              img(src="images/sestra2.jpeg", alt="")      
            .ids__grid-cell-small            
              img(src="images/sestracover.jpg", alt="")    
                            
            

            


        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell-full
              h2 McDonald’s Belarus
              p Fast food chain.
              .ids__stack.S
              .ids__label 
                h5 sep’21
              h3 Coffee Campaign

              h6
                ul.landing 
                  li.mark commercial video
                  br
                  li film treatment creation
                  li working on set

              .ids__stack.M
              .ids__label 
                h5 sep’22

              h3 Tiktok Strategy
              h6
                ul.landing 
                  li.mark Strategy
                  br
                  li analysis
                  li researching
                  li trendwatching
                  li video concept creation                  

        .ids__grid-cell-small
          <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/691948791?h=222bbfee55" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>       
          .ids__stack.M                            

        .ids__grid-cell-small

        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell
              .ids__label 
                h5 apr’18 — dec’19
              h2 Texas Chicken Belarus
              p Fast food chain.



              h6
                ul.landing 
                  li.mark SMM 
                  br
                  li analysis
                  li trendwatching
                  li content plan creation
                  li smm strategy
                  li digital concept creation
                  li copywriting
                  li design briefing
                  li cooperation with photographers
                  li influence marketing
                  li social media moderation
                  li ads promotion (VK Ads, Ads Manager)
                  li monthly report preparation        
        .ids__grid-cell
          img(src="images/texas2.png", alt="")
          .ids__stack.S
        .ids__grid-cell
          figure.M
              img(src="images/texas10.png", alt="")
        .ids__grid-cell-small
          figure.M
              img(src="images/texas1.png", alt="")              
          figure.M
              img(src="images/texas6.png", alt="")              


        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell
              .ids__label 
                h5 oct’18 — dec’19
              h2 Borjomi Belarus
              p Mineral water brand



              h6
                ul.landing 
                  li.mark SMM
                  br
                  li analysis
                  li trendwatching
                  li content plan creation
                  li smm strategy
                  li digital concept creation
                  li copywriting
                  li design briefing
                  li cooperation with photographers
                  li influence marketing
                  li social media moderation
                  li ads promotion (VK Ads, Ads Manager)
                  li monthly report preparation        
        .ids__grid-cell-small
          figure.M
              img(src="images/bj1.png", alt="")
        .ids__grid-cell-small
          figure.M
              img(src="images/bj2.png", alt="")      


        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell
              .ids__label 
                h5 nov’18 — dec’19
              h2 DYNAMI:T
              p Energy drinks brand



              h6
                ul.landing 
                  li.mark smm
                  br
                  li analysis
                  li trendwatching
                  li content plan creation
                  li smm strategy
                  li digital concept creation
                  li AR Masks creation 
                  li copywriting
                  li design briefing
                  li cooperation with photographers
                  li influence marketing
                  li social media moderation
                  li ads promotion (VK Ads, Ads Manager)
                  li monthly report preparation        
        .ids__grid-cell
          figure.M
              img(src="images/d3.png", alt="")
          .ids__grid-cell-video
            figure.M
                img(src="images/d1.png", alt="")     
                                              
          .ids__grid-cell-video
            figure.M
                img(src="images/d2.png", alt="")                             

        .ids__grid-cell-small
          .ids__grid.XXL.ids__grid-inset-S
            .ids__grid-cell     
              h2 Early Projects




              h6
                ul.landing 
                  li.mark smm
                  br
                  li analysis
                  li trendwatching
                  li content plan creation
                  li smm strategy
                  li digital concept creation
                  li AR Masks creation 
                  li copywriting
                  li design briefing
                  li cooperation with photographers
                  li influence marketing
                  li social media moderation
                  li ads promotion (VK Ads, Ads Manager)
                  li monthly report preparation      
        .ids__grid-cell-small
            .ids__label 
              h5 2018
            h2 Bellakt     
            p Dairy products brand   

            .ids__stack.S

            .ids__label 
              h5 2018
            h2 Kamako     
            p Sauce brand    

            .ids__stack.S


            .ids__label 
              h5 2018
            h2 Bambolina
            p Baby food brand
        .ids__grid-cell-small
            .ids__label 
              h5 2017-2018
            h2 Ford Belarus 
            p Official dealer of Ford cars in Belarus
            .ids__stack.S
            .ids__label 
              h5 2017
            h2 Mazda Belarus
            p Official dealer of Mazda cars in Belarus
            .ids__stack.S
            .ids__label 
              h5 2017
            h2 Krasnyi Pischevik    
            p Confectionery company   
                        