footer
  .ids__stack.L
  .tmp-header

    //p.ids__lead Связаться со мной можно в телеграме или почтой
    //a(href="https://intuition.team/") Интуиция
    | © Копирайт и все такое 
    .ids__stack.M
    //p sdkf g 
 
