footer
  .ids__stack.M
  .ids__grid.XXL.ids__grid-inset-S
        .ids__grid-cell-small

          p.ids__lead © 2022 Y. Naida
        .ids__grid-cell
         
            p.ids__lead In case you are interested to collaborate — feel free to send me a message:
              span 
                br
                br
                a(href="https://t.me/yulinaida") Telegram
                br
              span
                  a(href="mailto:YULI.NAIDA15@GMAIL.COM") Email
            
           

    
  
       
      
    
  .ids__stack.S
    //p sdkf g 
 
