html,
body {
  font-family: "PP Neue Montreal";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  width: 100%;
  height: 100%;
}

body {
  padding: 16px 20px;
}

main {
  position: relative;
}
